<form>
	<div class="form-row align-items-center">

	<div class="col-6">
	  	<label 
	  		class="sr-only" 
	  		for="ing_name">
	  		ingredient Name
	  	</label>
	  	<input 
	  		type="text" 
	  		class="form-control mb-2 col-12" 
	  		id="ing_name" 
	  		placeholder="ingredient Name">
	</div>

	<div class="col-auto">
	  	<label 
	  		class="sr-only" 
	  		for="ing_amount">
	  		amount
	  	</label>
	  	<input 
	  		type="number" 
	  		class="form-control mb-2" 
	  		id="ing_amount" 
	  		placeholder="amount">
	</div>

	


	<div class="col-auto">
	  <button 
	  	type="submit" 
	  	class="btn btn-primary mb-2">
	  	save
	  </button>
	</div>

	<div class="col-auto">
	  <button 
	  	type="submit" 
	  	class="btn btn-danger mb-2">
	  	delete
	  </button>
	</div>

	</div>
</form>